# Gradle
.gradle/
build/
app/build/
gradle/

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
captures/
.externalNativeBuild
.cxx

# Binaries
*.apk
*.aab

# Keystores and secrets
*.jks
*.base64
keystore/

# Local SDK and Licenses
licenses/
android-sdk/

# Logs and temp
*.log
.DS_Store
.env*
